In [6]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data'

In [7]:
import pandas as pd
dataset=pd.read_csv(url, na_values='?', skipinitialspace=True, header=None)

In [8]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [9]:
dataset.isnull().sum().sum()

408

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
s1=SimpleImputer(strategy='most_frequent')
dataset=s1.fit_transform(dataset)

In [12]:
pd.DataFrame(dataset).isnull().sum().sum()

0

In [16]:
target=dataset[:,279]
data=pd.DataFrame(dataset).drop(columns=[279])

In [17]:
pd.DataFrame(data).describe()

,0,1,2,3,4,5,6,7,8,9,...,269,270,271,272,273,274,275,276,277,278
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.302434,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.603551,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-5.600000,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.500000,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,-0.200000,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,2.700000,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
data_sc=sc.fit_transform(data)

In [19]:
data_sc.shape

(452, 279)

In [20]:
target.shape

(452,)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(data_sc, target, test_size=0.3)

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
train_pred=lr.predict(x_train)
test_pred=lr.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score
print("Training Accuracy: ", accuracy_score(train_pred, y_train))
print("Test Accuracy: ", accuracy_score(test_pred, y_test))

Training Accuracy:  0.9841772151898734
Test Accuracy:  0.6617647058823529

In [25]:
from sklearn.decomposition import PCA
pca=PCA(n_components=10)
data_pca=pca.fit_transform(data_sc)

In [26]:
data_pca.shape

(452, 10)

In [27]:
x_tr_pca, x_te_pca, y_tr_pca,t_te_pca=train_test_split(data_pca, target, test_size=0.3)

In [28]:
lr_pca=LogisticRegression()
lr_pca.fit(x_tr_pca, y_tr_pca)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
tra_pca_pred=lr_pca.predict(x_tr_pca)
te_pca_pred=lr_pca.predict(x_te_pca)

In [30]:
print("Training Accuracy: ", accuracy_score(tra_pca_pred, y_tr_pca))
print("Training Accuracy: ", accuracy_score(te_pca_pred, t_te_pca))

Training Accuracy:  0.7246835443037974
Training Accuracy:  0.6838235294117647

In [31]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()
data_lda=lda.fit_transform(data_sc, target)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [32]:
data_lda.shape

(452, 12)

In [33]:
x_tr_lda, x_te_lda, y_tr_lda, y_te_lda=train_test_split(data_lda, target, test_size=0.3)

In [34]:
lr_lda=LogisticRegression()
lr_lda.fit(x_tr_lda, y_tr_lda)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
tr_lda_pred=lr_lda.predict(x_tr_lda)
te_lda_pred=lr_lda.predict(x_te_lda)

In [36]:
print("Training Accuracy: ", accuracy_score(tr_lda_pred, y_tr_lda))
print("Training Accuray: ", accuracy_score(te_lda_pred, y_te_lda))

Training Accuracy:  0.9620253164556962
Training Accuray:  0.9485294117647058

In [37]:
from sklearn.decomposition import KernelPCA
kpca=KernelPCA(n_components=12, kernel='sigmoid')

In [38]:
data_kpca=kpca.fit_transform(data_sc)

In [39]:
x_tr_kpca, x_te_kpca, y_tr_kpca, y_te_kpca=train_test_split(data_kpca, target, test_size=0.3)

In [40]:
lr_kpca=LogisticRegression()
lr_kpca.fit(x_tr_kpca, y_tr_kpca)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
tr_kpca_pred=lr_kpca.predict(x_tr_kpca)
te_kpca_pred=lr_kpca.predict(x_te_kpca)

In [42]:
print("Training Accuracy: ", accuracy_score(tr_kpca_pred, y_tr_kpca))
print("Testing Accuracy: ", accuracy_score(te_kpca_pred, y_te_kpca))

Training Accuracy:  0.5506329113924051
Testing Accuracy:  0.5588235294117647