In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'

In [4]:
import pandas as pd
dataset=pd.read_csv(url, na_values='?', header=None, skipinitialspace=True)
dataset

,0,1,2,3,4,5,6,7,8,9
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [3]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [5]:
dataset.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    8
6    0
7    0
8    1
9    0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer
im=SimpleImputer(strategy='most_frequent')
dataset=im.fit_transform(dataset)

In [7]:
pd.DataFrame(dataset).isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [8]:
columns=[0,2,5,7,8,9]

dataset=pd.DataFrame(dataset)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in columns:
    dataset[i]=le.fit_transform(dataset[i])

In [9]:
dataset.head()

   0      1  2      3    4  5  6  7  8  9
0  0  30-39  2  30-34  0-2  0  3  0  1  0
1  0  40-49  2  20-24  0-2  0  2  1  4  0
2  0  40-49  2  20-24  0-2  0  2  0  1  0
3  0  60-69  0  15-19  0-2  0  2  1  2  0
4  0  40-49  2    0-4  0-2  0  2  1  3  0

In [10]:
cols=[1,3,4]
for i in cols:
    dataset[i]=le.fit_transform(dataset[i])

In [11]:
dataset.head()

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  5  0  0  3  0  1  0
1  0  2  2  3  0  0  2  1  4  0
2  0  2  2  3  0  0  2  0  1  0
3  0  4  0  2  0  0  2  1  2  0
4  0  2  2  0  0  0  2  1  3  0

In [12]:
target=dataset[0]
data=dataset.drop(columns=[0])

In [13]:
data.head()

   1  2  3  4  5  6  7  8  9
0  1  2  5  0  0  3  0  1  0
1  2  2  3  0  0  2  1  4  0
2  2  2  3  0  0  2  0  1  0
3  4  0  2  0  0  2  1  2  0
4  2  2  0  0  0  2  1  3  0

In [14]:
data.shape

(286, 9)

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(data, target, test_size=0.25)

In [16]:
x_test.shape

(72, 9)

In [17]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train, y_train)

C:\Users\OC\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [18]:
pred_train=svc.predict(x_train)

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(pred_train, y_train))

0.8317757009345794

In [20]:
pred_test=svc.predict(x_test)

In [21]:
print(accuracy_score(pred_test, y_test))

0.6805555555555556

In [28]:
svc_linear=SVC(kernel='linear')

svc_linear.fit(x_train, y_train)

pred_train_linear=svc_linear.predict(x_train)
pred_test_linear=svc_linear.predict(x_test)

print(accuracy_score(pred_train_linear, y_train))
print('-------------------')
print(accuracy_score(pred_test_linear, y_test))

0.7383177570093458
-------------------
0.6527777777777778

# knn algorithm

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [24]:
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [25]:
pred_train_knn=knn.predict(x_train)
pred_test_knn=knn.predict(x_test)

In [26]:
print(accuracy_score(pred_train_knn, y_train))
print(accuracy_score(pred_test_knn, y_test))

0.8037383177570093
0.6111111111111112

In [27]:
for i in range(1,10):
    print("i: ", i)
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    print(accuracy_score(knn.predict(x_train),y_train))
    print(accuracy_score(knn.predict(x_test), y_test))

i:  1
0.9906542056074766
0.5972222222222222
i:  2
0.8271028037383178
0.625
i:  3
0.8551401869158879
0.6388888888888888
i:  4
0.7990654205607477
0.6527777777777778
i:  5
0.8037383177570093
0.6111111111111112
i:  6
0.7757009345794392
0.625
i:  7
0.7990654205607477
0.5833333333333334
i:  8
0.7523364485981309
0.6388888888888888
i:  9
0.7757009345794392
0.625